* {
  box-sizing: border-box;
}

.card__menu {
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 40px;
  *background: rgb(241, 10, 10);
}

.menu__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.logo {
  width: 140px;
}

.p-element.tabMenu {
  padding: 20px;
  align-self: center;
}


